@import url("../Styles/login.scss");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100wh;
  height: 100vh;
  display: grid;
  place-items: center;
  //  background-image: url(../Assets/2.svg); 
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 70%;
  height: 70%;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.left, .right{
  width: 50%;
  height: 100%;
  padding: 10px;
  display: grid;
  place-items: center;
}
.left{
background-color: #7149C6;
border-radius: 5px;
}
.left-cont{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 50px;
}

h4{
  font-family: 'Roboto', sans-serif;
  text-align: right;
  font-size: 14px;
  cursor: pointer;

  &:hover{
    text-decoration: underline;
  }
}
h5, p{
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  font-size: 1rem;
}

// this is a test for an input field

/* Input container */
.input-container {
  position: relative;
  margin: 20px;
}

/* Input field */
.input-field {
  display: block;
  width: 77%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #7149C6;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: #7149C6;
}

.input-field:focus + .input-label + .input-highlight {
  width: 77%;
}

.right-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 77%;
  height: auto;
}
.btn{
  text-align: center;
}

.p{
  font-family: 'Roboto', sans-serif;
  padding: 15px 70px;
  font-size: 16px;
  border: 1px solid;
  text-decoration: none;

  
}
#google:hover{
    background-color: yellow;
  }

.auth{
  display: flex;
  justify-content: space-between;

  

}
